body {
	font-family: helvetica, arial, verdana, trebuchet, sans-serif;
	color: #666;
	font-size: 13px;
}

h1 {
	color: black;
}

h3 {
	margin-top: 25px;
}

ul {
	padding-left: 0;
}

ul li {
	margin-left: 20px;
}

div#workSpace svg {
	border: thin solid #BBB;
	clear: both;
	width: 100%;
}

textarea#diGraph {
	width: 99.6%;
}

/* Navigation View styles */
#naviUse {
	color: darkblue;
	cursor: pointer;
}

ul#naviSize {
	display: block;
	list-style-type: none;
	padding-left: 0;
	width: 100%;
	text-align: right;
}

#naviSize .active {
	font-weight: bold;
}

#naviSize li {
	display: inline;
	cursor: pointer;
	color: darkblue;
}

/* Data Input styles */
div#dataInput {
	margin-top: 25px;
}

div.inpBlock {
	margin: 20px 0;
	padding-bottom: 20px;
	border-bottom: thin solid gray;
}

label.block {
	display: block;
}

input#diDoGen::first-letter {
	text-decoration: underline;
}

span#diBuild {
	font-weight: bold;
	color: darkblue;
	display: inline-block;
	cursor: pointer;
	padding: 4px 100px;
	margin: 0 100px;
	background-color: #F2F2F2;
}

span#diBuild::first-letter {
	text-decoration: underline;
}

span#diBuild:hover {
	background-color: #EEE;
	color: blue;
}

span#diErr {
	color: red;
}

/* SVG styles */

svg rect {
	stroke: #BBB;
	stroke-width: 0.5;
	fill: #FCFCFC;
}

svg circle {
	stroke: #BBB;
	fill: #FFF;
}

svg text {
	font-family: sans, verdana, monospace, sans-serif;
	font-size: 12px;
	fill: #444;
}

svg .selected text {
	fill: #222;
}

svg .active text {
	fill: #000;
}

rect#svgbg {
	fill: #FEFEFE;
	stroke: none;
}

path.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5;
}

.link.active {
  stroke: grey;
  stroke-width: 2.5;
}

.link.selected {
  stroke: #76BF60;  // Darker Green
}

.link.selected.active {
  stroke: #58BF39;  // Saturated Darker Green
}

/* Session View */
//#sevi g {
//	/*opacity: 0.75;*/
//}

#sevi .active rect {
	stroke: #888;
	stroke-width: 1.5;
	fill: #F2F2F2;
}

#sevi .selected rect {
	fill: #AEED9A;  // Green
}

#sevi .selected.active rect {
	fill: #92ED77;  // Saturated Green
}

rect#sevibg {
	fill: #FAFDFF;
	stroke: #EBF7FF;
	stroke-width: 1;
	shape-rendering: crispEdges;
	cursor: move;
}

/* Navigation View */
g#navi {
	opacity:0.75;
}

rect#navibg {
	fill: #FAFDFF;
	stroke: #CBE3F2;
	stroke-width: 1;
	opacity: 0.75;
	cursor: move;
}

#navi circle.active {
	stroke: #888;
	fill: grey;
}

#navi circle.selected {
	fill: #AEED9A;  // Green
}

#navi circle.selected.active {
	fill: #6DED47;  // Saturated Green
}

/*#navi circle.current {
	fill: #66ccff;  // blue
}*/
